.appartment {
    padding-top: 42px;
    padding-bottom: 104px;

    &--background {
        background-color: #060928;
    }
    &__title {
        color: #FFFFFF;
        margin-bottom: 58px;
    }
    &--position {
        display: flex;
        margin-left: -164px;

    }
    &--box {
        display: flex;
        flex-direction: column;

    }
    &__img {
        border-radius: 20px;
        margin-right: 96px;
    }
    &__name {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
        line-height: 1.26;
        letter-spacing: 0.02em;

        color: #FFFFFF;
        margin-top: 96px;
        margin-bottom: 40px;    }
    &__text {
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0.01em;

        color: #FFFFFF;
        margin-bottom: 36px;
    }
}