.nav {
    display: flex;
    align-items: center;
    &__icon {
        fill: #FE8934;
        margin-right: 15px;
    }
    &__link {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        
        margin-right: 424px;
        padding-top: 44px;
        padding-bottom: 38px;
    }
    &__list {
        display: flex;
    }
    &__item {
        font-weight: 500;
        font-size: 15px;
        line-height: 1.5;
        &:not(:last-child) {
            margin-right: 36px;
        }
    }
}