.plans {
    padding-top: 100px;
    padding-bottom: 66px;
    &--background {
        background-color: #F8F8FA;
    }

    &--box {
        display: flex;
        margin-bottom: 42px;
    }
   &__title {
    min-width: 432px;
    margin-right: 175px;
   } 
   &__list {
    display: flex;
    flex-wrap: wrap;
    

    margin-right: -40px;
    margin-bottom: -40px;

   }
   &__item {
    flex-basis: calc((100% - 120px) / 3);
    margin-right: 40px;
    margin-bottom: 40px;
   }
   &__img {
    border-radius: 20px;
    margin-bottom: 17px;    
   }
   &__city {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-bottom: 10px;
   }
   &__address {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    margin-bottom: 10px;
    }
}