.button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 1.75;
    text-align: center;
    letter-spacing: 0.02em;

    width: 12.5em;
    height: 3.125em;
    border: none;

    background-color: #3456FE;
    color: #FFFFFF;
    box-shadow: 15px 15px 30px rgba(49, 78, 221, 0.25);
}