.slick-center {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);
}
.slick-list { 
    padding: 145px !important;
  }
.slick-slider {
    margin-right: -164px;
    margin-left: -164px;
}