.title {
    font-weight: 700;
    font-size: 2.375em;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.text {
    font-size: 1.125em;
    line-height: 1.6;
    letter-spacing: 0.01em;
    
    color: #626161;
}