.container {
    width: 1440px;
    padding-left: 164px;
    padding-right: 164px;
    margin-left: auto;
    margin-right: auto;

}
.container--background-photo {
    background-image: url(../images/shubham-dhage.jpg);
    background-size: cover;
    min-height: 1007px;
}
.section {
    width: 1112px;
    margin-left: auto;
    margin-right: auto;
}